<h2> Hi, this is Your profile </h2>

<br>

<div class="col-sm-2">
  <%= link_to persons_profile_path do %>
    <img title="profile image" class="img-circle img-responsive" src="http://www.rlsandbox.com/img/profile.jpg" />
  <% end %>
  <span><%= current_user.email %></span>
</div>

<br>

<div id="w">
  <div id="content" class="clearfix">
    <nav id="profiletabs">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to 'Add new category', new_category_path %>
        </li>
        <li>
          <%= link_to 'My categories', categories_path %>
        </li>
        <li>
          <%= link_to 'Add new wish', new_wish_path %>
        </li>
        <li>
          <%= link_to 'My wish lists', wishes_path%>
        </li>
        <li><a href="#settings">Settings</a></li>
      </ul>
    </nav>
  </div>
</div>
